annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
comm==0.2.3
debugpy==1.8.15
decorator==5.2.1
Deprecated==1.2.18
dotenv==0.9.9
executing==2.2.0
fastapi==0.116.1
h11==0.16.0
hana-ml==2.25.25072901
hdbcli==2.25.29
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ipykernel==6.30.0
ipython==8.18.1
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.8.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
narwhals==2.0.1
nest-asyncio==1.6.0
numpy>=1.24,<2.3
packaging==25.0
pandas==2.3.1
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.8
plotly==6.2.0
prettytable==3.16.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pur
python-dotenv
uvicorn